
.form-control-feedback{
    position: absolute;
    z-index: 2;
    display: block;
    width:2rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    padding-top: 17px;
}
.bankinh{
    margin-top: 1em;
    
}
.row{
  margin: 0px;
}
.bankinh select{
    height: 3em !important;
    /* padding-left: 2em; */
}
/* tree view */

  
  
  
  .caret {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
  }
  
  .caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px !important;
    float: right;
  }
  
  .caret-down::before {
    -ms-transform: rotate(90deg); 
    -webkit-transform: rotate(90deg); 
    transform: rotate(90deg);  
  }
  
  .nested {
    display: none;
  }
  
  .active1 {
    display: block;
    margin-left: 2em;
  }

.btnSearch{
    height: 3em;
    width: 100%;
    text-align: center;
    background: #14bdee;
    border: none;
    color: white;
    border-radius: 3px;
    margin-top: 1em;
}
.menuLeft{
    background: #eee;
    padding: 0em 1em 1em 1em;
    border-radius: 3px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background: #eee;
    color: #384158 !important;
}
.nav-tabs {
  
     border-bottom: 0px 
}
.btnEmail{
  background: red;
  border: 0px;
  border-radius: 5px;
  height:3em;
  padding: 0 1em 0 1em;
  margin-left: 3em;
  color: white;
}
.textSearchJob{
  margin-bottom: 1em;
}
.getEmail{
 
  display: flex ; 
  background: #eee;
  border-radius: 5px;
  padding: 0.6em 0 0.6em 0;
  margin-bottom: 1em;
  
}
.btnEmail i{
  font-size: 16px;
}
.jobSearchAdvance{
  border: 1px #aaa solid;
  padding: 1em 0 1em 0;
  border-radius: 5px;
  margin-bottom: 1em;
}
.btnChiTiet{
  border: 1px #aaa solid;
  border-radius: 5px;
  height: 2.5em;
  padding: 0 1em 0 1em;
  margin-top: 1em;
}
.textTiltes{
margin-bottom: 1em;
}
.btnLike{
  border: 0px;
  background: white;
  
  text-align: center;
  position: absolute;
  right: 3em;
  bottom: 8px;
  
}
.btnLike i{
  color: red;
  font-size: 18px;
}
.textTiltes a{
  color: #384158;
}
.textTiltes a:hover{
  color: #14bdee;
}
.imgLogoSchool{
  width: 100%;
}
@media only screen and (max-width:500px){
  .col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7{
    width: 100%;
  }
}
.page{
  margin-bottom: 3em;
}
.text {
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.topJob{
  margin-top: 1em;
  
}
.topJob p{
  color: #384158;
  font-weight: bolder;

}
.topJob li{
  padding-left: 1em;
  color: #a5a5a5;
  font-size: 12px;
}
.formtuychinh{
  margin-top: 1em;
}
.formtuychinh h5{
  font-family: 'Roboto', sans-serif;

}
.formtuychinh li i{
  font-style: normal;
  color: #aaa
  
}
.formtuychinh li a{
  color: #384158;
}
.formtuychinh li a:hover{
  color: #14bdee;
}